/* list.module.css */

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .card {
    width: 70%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .todoList {
    list-style-type: none;
    padding: 0;
  }
  
  .todoItem {
    width: 100%;
    background-color: #82e97f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todoItemn {
    width: 100%;
    background-color: #ec9083;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todoTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .editButton {
    background-color: #007bff;
    color: white;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #a71d2a;
  }
  
  .addButton {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
  }
  
  .addButton:hover {
    background-color: #218838;
  }
  